img {
    max-width: 100% !important;
    vertical-align: middle;
}
.hinhanh{
    width: 50%;
    float: left;
}

.conten{
    width: 50%;
    float: right;
    text-align: center;
}
h3 {
    font-size: 24px;
}
.conten h3 a {
    text-decoration: none;
    font-family: 'SFUFuturaHeavy';
    color: #000;
    font-size: 30px;
    padding-bottom: 20px;
    display: block;
}
.conten p {
    font-family: 'OpenSansRegular';
    font-size: 15px;
    line-height: 25px;
    display: block;
}
.hinh-gioithieu1 {
    width: 50%;
    float: right;
}
.clear {
    clear: both;
}